
html {
  #scroll-behavior: smooth;
}
#start {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#start .carousel, #start .carousel-inner, #start .carousel-item, #start .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


#start .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 112px;
  left: 50px;
  right: 50px;
}

#start .container {
  text-align: center;
}

#start .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 112px;
  left: 50px;
  right: 50px;
}


#start h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}

#start p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}


section {
  padding: 60px 0;
}

.space-section {
  padding: 20px 0;
}
.section-bg {
  background-color: #f8fcf9;
}

.section-title {
  padding-bottom: 30px;
}
/*
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #000000;
}*/

.section-title h2 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 1rem;
    font-weight: 300;
    color: #333;
}

.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #919191;
}



  @media (max-height: 500px) {
      #start {
        height: 40vh;
      }
    }

  @media only screen and (max-width: 600px) {
   #start h2 {
        font-size: 24px;
   }
   div.carousel-container{
      display:none!important;
    }
    div.carousel-caption{
      display:none;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
   #start h2 {
        font-size: 28px;
      }
        #start {
              height: 50vh;
            }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {

             #start {
                height: 70vh;
              }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  #start {
                height: 80vh;
              }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  #start {
                height: 100vh;
              }
  }


  /* profile user dashboard*/
  body{margin-top:20px;}

  .user-info-wrapper {
      position: relative;
      width: 100%;
      margin-bottom: -1px;
      padding-top: 90px;
      padding-bottom: 30px;
      border: 1px solid #e1e7ec;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      overflow: hidden
  }

  .user-info-header{
        border: 1px solid #e1e7ec;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        overflow: hidden
  }
  .profile-data-box {
        position: relative;
        width: 100%;
        margin-bottom: -1px;
        padding-bottom: 30px;
        border: 1px solid #e1e7ec;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        overflow: hidden
    }

  .user-info-wrapper .user-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 120px;
      background-position: center;
      background-color: #f5f5f5;
      background-repeat: no-repeat;
      background-size: cover
  }

  .user-info-wrapper .user-cover .tooltip .tooltip-inner {
      width: 230px;
      max-width: 100%;
      padding: 10px 15px
  }

  .user-info-wrapper .info-label {
      display: block;
      position: absolute;
      top: 18px;
      right: 18px;
      height: 26px;
      padding: 0 12px;
      border-radius: 13px;
      background-color: #fff;
      color: #606975;
      font-size: 12px;
      line-height: 26px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.18);
      cursor: pointer
  }

  .user-info-wrapper .info-label>i {
      display: inline-block;
      margin-right: 3px;
      font-size: 1.2em;
      vertical-align: middle
  }

  .user-info-wrapper .user-info {
      display: table;
      position: relative;
      width: 100%;
      padding: 0 18px;
      z-index: 5
  }

  .user-info-wrapper .user-info .user-avatar,
  .user-info-wrapper .user-info .user-data {
      display: table-cell;
      vertical-align: top
  }

  .user-info-wrapper .user-info .user-avatar {
      position: relative;
      width: 115px
  }

  .user-info-wrapper .user-info .user-avatar>img {
      display: block;
      width: 100%;
      border: 5px solid #fff;
      border-radius: 50%
  }

  .user-info-wrapper .user-info .user-avatar .edit-avatar {
      display: block;
      position: absolute;
      top: -2px;
      right: 2px;
      width: 36px;
      height: 36px;
      transition: opacity .3s;
      border-radius: 50%;
      background-color: #fff;
      color: #606975;
      line-height: 34px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
      opacity: 0;
      text-align: center;
      text-decoration: none
  }

  .user-info-wrapper .user-info .user-avatar .edit-avatar::before {
      font-family: feather;
      font-size: 17px;
      content: '\e058'
  }

  .user-info-wrapper .user-info .user-avatar:hover .edit-avatar {
      opacity: 1
  }

  .user-info-wrapper .user-info .user-data {
      padding-top: 48px;
      padding-left: 12px
  }

  .user-info-wrapper .user-info .user-data h4 {
      margin-bottom: 2px
  }

  .user-info-wrapper .user-info .user-data span {
      display: block;
      color: #9da9b9;
      font-size: 13px
  }

  .user-info-wrapper+.list-group .list-group-item:first-child {
      border-radius: 0
  }

  .user-info-wrapper+.list-group .list-group-item:first-child {
      border-radius: 0;
  }

  /* Profile Card Version 12.01.2021*/
  .theme-bg-white {
      background-color: #fff !important;
      border: 1px solid #e1e7ec;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
  }





  .ui-w-100 {
      width: 100px !important;
      height: auto;
  }
  .ui-w-40 {
      width: 40px !important;
      height: auto;
  }
  .row-bordered>.col::before, .row-bordered>[class^="col-"]::before, .row-bordered>[class*=" col-"]::before, .row-bordered>[class^="col "]::before, .row-bordered>[class*=" col "]::before, .row-bordered>[class$=" col"]::before, .row-bordered>[class="col"]::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -1px;
      left: 0;
      display: block;
      height: 0;
      border-top: 1px solid rgba(24,28,33,0.06);
  }
  .row-bordered>.col::after, .row-bordered>[class^="col-"]::after, .row-bordered>[class*=" col-"]::after, .row-bordered>[class^="col "]::after, .row-bordered>[class*=" col "]::after, .row-bordered>[class$=" col"]::after, .row-bordered>[class="col"]::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1px;
      display: block;
      width: 0;
      border-left: 1px solid rgba(24,28,33,0.06);
  }

  .ui-bg-cover {
      background-color: rgba(0,0,0,0);
      background-position: center center;
      background-size: cover;
  }

  .ui-square {
      padding-top: 100% !important;
  }
  .ui-square, .ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
      position: relative !important;
      display: block !important;
      padding-top: 100% !important;
      width: 100% !important;
  }
  /*ende user profile dashboard*/


  .list-group-item:first-child {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
  }
  .list-group-item:first-child {
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
  }
  a.list-group-item {
      padding-top: .87rem;
      padding-bottom: .87rem;
  }
  a.list-group-item, .list-group-item-action {
      transition: all .25s;
      color: #606975;
      font-weight: 500;
  }
  .with-badge {
      position: relative;
      padding-right: 3.3rem;
  }
  .list-group-item {
      border-color: #e1e7ec;
      background-color: #fff;
      text-decoration: none;
  }
  .list-group-item {
      position: relative;
      display: block;
      padding: .75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.125);
  }

  .shopping-cart,
  .wishlist-table,
  .order-table {
      margin-bottom: 20px
  }

  .shopping-cart .table,
  .wishlist-table .table,
  .order-table .table {
      margin-bottom: 0
  }

  .shopping-cart .btn,
  .wishlist-table .btn,
  .order-table .btn {
      margin: 0
  }

  .shopping-cart>table>thead>tr>th,
  .shopping-cart>table>thead>tr>td,
  .shopping-cart>table>tbody>tr>th,
  .shopping-cart>table>tbody>tr>td,
  .wishlist-table>table>thead>tr>th,
  .wishlist-table>table>thead>tr>td,
  .wishlist-table>table>tbody>tr>th,
  .wishlist-table>table>tbody>tr>td,
  .order-table>table>thead>tr>th,
  .order-table>table>thead>tr>td,
  .order-table>table>tbody>tr>th,
  .order-table>table>tbody>tr>td {
      vertical-align: middle !important
  }

  .shopping-cart>table thead th,
  .wishlist-table>table thead th,
  .order-table>table thead th {
      padding-top: 17px;
      padding-bottom: 17px;
      border-width: 1px
  }

  .shopping-cart .remove-from-cart,
  .wishlist-table .remove-from-cart,
  .order-table .remove-from-cart {
      display: inline-block;
      color: #ff5252;
      font-size: 18px;
      line-height: 1;
      text-decoration: none
  }

  .shopping-cart .count-input,
  .wishlist-table .count-input,
  .order-table .count-input {
      display: inline-block;
      width: 100%;
      width: 86px
  }

  .shopping-cart .product-item,
  .wishlist-table .product-item,
  .order-table .product-item {
      display: table;
      width: 100%;
      min-width: 150px;
      margin-top: 5px;
      margin-bottom: 3px
  }

  .shopping-cart .product-item .product-thumb,
  .shopping-cart .product-item .product-info,
  .wishlist-table .product-item .product-thumb,
  .wishlist-table .product-item .product-info,
  .order-table .product-item .product-thumb,
  .order-table .product-item .product-info {
      display: table-cell;
      vertical-align: top
  }

  .shopping-cart .product-item .product-thumb,
  .wishlist-table .product-item .product-thumb,
  .order-table .product-item .product-thumb {
      width: 130px;
      padding-right: 20px
  }

  .shopping-cart .product-item .product-thumb>img,
  .wishlist-table .product-item .product-thumb>img,
  .order-table .product-item .product-thumb>img {
      display: block;
      width: 100%
  }

  @media screen and (max-width: 860px) {
      .shopping-cart .product-item .product-thumb,
      .wishlist-table .product-item .product-thumb,
      .order-table .product-item .product-thumb {
          display: none
      }
  }

  .shopping-cart .product-item .product-info span,
  .wishlist-table .product-item .product-info span,
  .order-table .product-item .product-info span {
      display: block;
      font-size: 13px
  }

  .shopping-cart .product-item .product-info span>em,
  .wishlist-table .product-item .product-info span>em,
  .order-table .product-item .product-info span>em {
      font-weight: 500;
      font-style: normal
  }

  .shopping-cart .product-item .product-title,
  .wishlist-table .product-item .product-title,
  .order-table .product-item .product-title {
      margin-bottom: 6px;
      padding-top: 5px;
      font-size: 16px;
      font-weight: 500
  }

  .shopping-cart .product-item .product-title>a,
  .wishlist-table .product-item .product-title>a,
  .order-table .product-item .product-title>a {
      transition: color .3s;
      color: #374250;
      line-height: 1.5;
      text-decoration: none
  }

  .shopping-cart .product-item .product-title>a:hover,
  .wishlist-table .product-item .product-title>a:hover,
  .order-table .product-item .product-title>a:hover {
      color: #0da9ef
  }

  .shopping-cart .product-item .product-title small,
  .wishlist-table .product-item .product-title small,
  .order-table .product-item .product-title small {
      display: inline;
      margin-left: 6px;
      font-weight: 500
  }

  .wishlist-table .product-item .product-thumb {
      display: table-cell !important
  }

  @media screen and (max-width: 576px) {
      .wishlist-table .product-item .product-thumb {
          display: none !important
      }
  }

  .badge.badge-primary {
      background-color: #0da9ef;
  }
  .with-badge .badge {
      position: absolute;
      top: 50%;
      right: 1.15rem;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  .list-group-item i {
      margin-top: -4px;
      margin-right: 8px;
      font-size: 1.1em;
  }



  /* weiteres Beispiel*/
  $primary: #7F00FF;
  $secondary: #00D1B2;
  $section: #ededed;
  $muted: #999;

  body {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .columns {
    margin-top: 0;
  }

  .section {
    background-color: $section;
    min-height: 100vh;
    position: relative;
    .card {
      border-radius: 6px;
      overflow:hidden;
      max-width: 300px;
      max-height: 380px;
      margin: 0 auto;
      .header {
        height: 120px;
        background: $primary;
        .avatar {
          width: 80px;
          height: 100%;
          position: relative;
          margin: 0 auto;
          img {
            display: block;
            border-radius: 50%;
            position: absolute;
            bottom: -42px;
            border: 4px solid white;
          }
        }
      }
      .card-body {
        padding: 30px;
        .user-meta {
          padding-top: 20px;
          .username {
            font-size: 18px;
            font-weight: 600;
          }
          .position {
            font-size: 90%;
            color: $primary;
          }
        }
      }
      .user-bio {
        padding-top: 8px;
        font-size: 92%;
        color: $muted;
      }
      .action {
        padding-top: 20px;
        .button {
          padding: 16px 20px 16px 20px;
          background: $primary;
          border-color: $primary;
          color: white;
          border-radius: 100px;
          transition: opacity .3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }


  .link-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $primary;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    img {
      width: 32px;
      height: 32px;
      display: block;
    }
    &:hover {
      transform: scale(1.1) rotate(180deg);
      background: $secondary;
    }
  }


